[Unit]
Description=Remove USB Symlinks on Shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/remove_all_gcode_symlinks.sh
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target